{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "ie >= 8"]
      }
    }]
  ],
  "plugins": [
    "add-module-exports",
    "transform-es2015-modules-umd"
  ]
}
