# Dependency directory
node_modules

# Code coverage for Istanbul
coverage
.nyc_output

# Webpack compiled bundle directory
dist

# MS VS Code editor config/options
# .vscode

# Apple MAC hidden files
.DS_Store
